.grid-container {
    display: grid;
    column-gap: 30px;
}

.grid-item {
    background-color: rgba(240, 204, 43, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    grid-row-start: 1;
    grid-row-end: 3;
}

