.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#grid-dice {
    background-color: rgba(240, 178, 43, 0.699);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50px;
    font-size: 10px;
    width: fit-content;
}

#grid-points {
   background-color: rgba(240, 178, 43, 0.699);
   border: 1px solid rgba(0, 0, 0, 0.8);
   padding: 20px;
   font-size: 15px;
   text-align: left;
   width: 560px;
}

.dice {
    width: 100px;
    height: 100px;
}


.inputs {
    width: 8%;
        margin: 0 auto;
        display:block;
}

.labels {
    width: 30%;
    margin:0 auto;
    display:block;
}

.labelInputDivElement {
    margin: 1rem;
  }

.inputs, .labels {
    display: inline-block;
    text-align: left;
  }

.sumAndBonusLabel, .totalLabel {
    width: 150px;
    margin-left: 10%;

}

.sumAndBonusInput, .totalInput {
    width: 8%;
    margin-left: 2%;
}

.button {
    margin-left: 42%;
    width: 16%;
    height: 50%;
    border-radius: 25%;
}

::placeholder {
    font-style: italic;
    opacity: 0.5;
}