.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 3em;
}

#grid-dice {
    background-color: rgba(240, 178, 43, 0.699);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 50px;
    font-size: 10px;
    width: auto;
}
 #dice {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
        grid-template-columns: repeat(4, 1fr);
 }

 #dice {
    grid-column: 1/4;
 }
/** #grid-points {
    background-color: rgba(240, 178, 43, 0.699);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 200px;
    font-size: 30px;
    text-align: center;
    width: 200px;
}
*/
